@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Noto Sans JP', 'sans-serif';
}

ol,
ul {
  list-style: none;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 4px;
  height: 2px;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #888;
}
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* 
@tailwind base;
@tailwind components;
@tailwind utilities; */
